* {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
}

body {
    text-align: center;
}

#div-navcontainer {
    border: #000000 1px solid;
    display: flex;
    padding: 0px;
}

.div-nombre {
    border: #000000 1px solid;
    margin-right: 10px;
    padding: 0px;
}

.div-opciones {
    border: #000000 1px solid;
}

.navbar::before, .navbar::after {
    content: "";
    display: table;
}

.navbar::after {
    clear: both;
}

.navbar li {
    display: inline-block;
    padding: 15px;
    float: left;
    box-shadow: 1px 0 0 #444;
    position: relative;
}

.navbar li:hover {
    background: #f1eeee;
}

#agrupar {
    width: auto;
    margin: 15px;
    text-align: left;
}

.encabezado_footer {
    font-size: large;
    font-weight: bold;
}

.presentacion {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    color: #000000;
    margin: auto;
    border: #000000 1px solid;
}

.footer {
    text-align: center;
    background-color: lightslategray;
    font-size: small;
    font-weight: bold;
    color: #ffffff;
    margin: 0px;
    padding: 60px;
    border: #000000 1px solid;
}

#footer_content_terminos {
    font-size: small;
    font-weight: bold;
    margin: 0px;
    padding: 10px;
    border: 1px black solid;
}

#footer_content_redes {
    font-size: small;
    font-weight: bold;
    margin: 0px;
    padding: 10px;
    border: 1px black solid;
}

#grayfooter {
    background-color: #808080;
    padding: 10px;
    margin: 0px;
    border: #000000 1px solid;
}