* {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    text-align: center;
}

.div-navbar {
    border: #000000 1px solid;
}

/*Start of Navbar styles*/

.navbar{
	max-width: 900px;
	background-color: #ffffff;
	font-size: 20px;
	
}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: rgb(2, 0, 0);
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: rgb(218, 214, 214);
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgb(218, 214, 214);
}

.menu-horizontal li:hover .menu-vertical{
	display: block;
    position: relative;
}

.menu-vertical li:hover{
	background-color: rgb(189, 183, 183);
}

.menu-vertical li a{
	display: block;
	color: rgb(0, 0, 0);
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

/*End of Navbar styles*/

.titulo {
    font-size: 45px;
    text-align: center;
    color: #000000;
    margin: auto;
}

.carrousel {
    width: 100%;;
    max-width: 120em;
    border: #000000 1px solid;
    overflow-x: hidden;
}

.slider-box {
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    transition: all .5s ease;
    transform: translateX(0%);
}

.imagen {
    width: calc(100%/2);
}

.puntos {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.punto {
    width: 1em;
    height: 1em;
    margin: 5px;
    border-radius: 50%;
    border: #000000 1px solid;
    background-color: #000000;
}

.punto.active {
    background-color: rgb(97, 19, 0);
}

/*End of Carrousel*/

#agrupar {
    width: auto;
    margin: 15px;
    text-align: left;
}

.encabezado_footer {
    font-size: large;
    font-weight: bold;
}

.presentacion {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    color: #000000;
    margin: auto;
    border: #000000 1px solid;
}

.footer {
    text-align: center;
    background-color: lightslategray;
    font-size: small;
    font-weight: bold;
    color: #ffffff;
    margin: 0px;
    padding: 60px;
    border: #000000 1px solid;
}

#footer_content_terminos {
    font-size: small;
    font-weight: bold;
    margin: 0px;
    padding: 10px;
    border: 1px black solid;
}

#footer_content_redes {
    font-size: small;
    font-weight: bold;
    margin: 0px;
    padding: 10px;
    border: 1px black solid;
}

#grayfooter {
    background-color: #808080;
    padding: 10px;
    margin: 0px;
    border: #000000 1px solid;
}